.btn-mtm {
  width: 140px;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  background: #860CE6;
  transition: background 0.3s ease;
  text-align: center;
}

.btn-mtm:hover {
  background: #7A2CDD;
  color: white;
}

.btn-ram {
  color: white;
  padding: 8px 24px;
  border-radius: 6px;
  background: #2ed3b5;
  transition: background 0.3s ease;
}

.btn-ram:hover {
  background: #29c6aa;
  color: white;
}

.pic-mtm img {
  width: 20%;
}

body{
  margin: 0;
  padding: 0;
}

h1{
  margin-top: 0;
}

.container{
  display: flex;
  width: 100%;
  height: 100%;
}

.work-content{
  width: 50%;
  transition: width 0.7s ease-out;
  padding: 0;
}

.work-content .details{
  display: none;
}

// .work-content div{
//   height: 50%;
//   transition: height 0.7s ease-out;
// }

.work-content .mtm{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("/assets/images/mtm2.jpg");
  background-size: cover !important;
}

.work-content .ram {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("/assets/images/ram2.jpg");
  background-size: cover !important;
}

#work-menu {
  width: 50%;
  transition: width 0.7s ease-out;
}

.container.open #work-menu{
  width : 10%;
  transition: width 0.7s ease-out;
}

.container.open h1 .work-menu{
  transition: width 0.7s ease-out;
}

.container.open .work-content{
  width: 90%;
  transition: width 0.7s ease-out;
}

.container.open .entry{
  height: 10%;
  transition: height 0.7s ease-out;
}

.container.open .entry.selected{
  background: white;
  height: 90%;
  display: flex;
  flex-direction: column;
  transition: height 0.7s ease-out;

  h1 {
    color: black;
    margin: 5px;
    font-size: 40px;
  }
}

.container.open .entry.selected .details{
  display: flex;
  width: 100%;
  height: 90%;
}

.container.open .entry.selected .details .details-text {
  height: 100%;
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 50px 15px;

  p {
    color: black;
  }
}

.mtm {

  .details-text {
      a {
      color: #860CE6;
      text-decoration: none;
    }
  }
}

.ram {
  .details-text {
      a {
      color: #2ed3b5;
      text-decoration: none;
    }
  }
}

.details-technos {
  width: 100%;

  p {
    margin: 0;
    font-size: 16px;
  }
}

hr {
  background-color: #000;
  border-style: none;
  height: 1px;
  margin: 22px 0;
  width: 70%;
}

.technos {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 20px;
  gap: 0 20px;
  list-style: none;
  padding: 10px 0;


  li {
    color: black;
    font-size: 16px;
    padding: 6px 0;
  }

  .fas {
    font-size: 15px;
    padding: 0 15px;
  }
}


.container.open .entry.selected .details .details-img {
  height: 100%;
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.w {
  transition: all 0.7s ease-out;
}

.w.change {
  transform: rotate(-90deg);
  transition: all 0.7s ease-out;
}

.ork {
  transition: all 0.7s ease-out;
}

.ork.disappear {
  display: none;
  transition: all 0.7s ease-out;
}

.section .title .work-menu-section {
  transition: all 0.7s ease-out;
}

.section .title .work-menu-section.disappear {
  transition: all 0.7s ease-out;
  display: none;
}

.work {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work.change {
  display: block
}

.entry {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  h1 {
    color: white;
    margin: 0;
  }
}

.entry-title {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-btn {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 414px) {
  .container.open #work-menu {
    width: 100%;
    transition: width 0.7s ease-out;
  }

  .entry {
    height: 100vh;
  }

  #work-content {
    padding: 0;
  }

  .container.open .entry.selected {

    height: 50%;

    .details {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
    }
  }

  .container.open .entry.selected .details .details-img {
    height: 30%;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .container.open .entry.selected .details .details-text {
    height: 66%;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  #work .content {
    height: 300vh;
    overflow: visible;
  }

  .entry-title {
    height: 10%;
  }

  .technos {
    grid-template-columns: 1fr;
  }
}
// faire un display flex avec une colonne texte et bouton et une avec l'illu - mais il y a deja un display block
// .details {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
// }
